# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# Flycheck
flycheck_*.el

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# straight packages
straight/

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# other
*.\~undo-tree\~
.cache
.dap-breakpoints
.lsp-session-v1
.mc-lists.el
/tmp/
ac-comphist.dat
async-bytecomp.log
cider-history
custom.el
eclipse.jdt.ls
emms
kkcrc
network-security.data
projectile-bookmarks.eld
semanticdb
smex-items
srecode-map.el
undohist
url
var
workspace
